@page "/combinacao"
@using Syncfusion.Blazor.Buttons
@using Utils = CALCOMBINA.Utils.Utils

<PageTitle>CalCombina - Combinação</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Entre com as variáveis solicitadas</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6 d-flex flex-column">
            <label class="mb-1">Elementos (n)</label>
            <SfNumericTextBox Placeholder="Entre com a variável n"
                        @bind-Value="@VariavelN"
            ></SfNumericTextBox>
        </div>
        <div class="col-6 d-flex flex-column">
            <label class="mb-1">Conjunto (p)</label>
            <SfNumericTextBox Placeholder="Entre com a variável p"
                        @bind-Value="@VariavelP"
            ></SfNumericTextBox>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <SfButton Content="Calcular" OnClick="args => CalcularCombinacaoSimples(VariavelN, VariavelP)"></SfButton>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label>O resultado é: <span>@Resultado</span></label>
        </div>
    </div>
</div>

@code {
    private long VariavelN;
    private long VariavelP;
    private long Resultado;

    public void CalcularCombinacaoSimples(long variavelN, long variavelP)
    {
        long fatN;
        long fatNmP;
        long fatP;

        //Calculando fatoriais de n e de n-p
        fatN = Utils.CalcularFatorial(variavelN);
        fatNmP = Utils.CalcularFatorial(variavelN - variavelP);
        fatP = Utils.CalcularFatorial(variavelP);

        //Encontrando o Arranjo
        Resultado = fatN / (fatP * fatNmP);
    }
}
