@page "/"

<PageTitle>CalCombina - Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Seja bem vindo à CalCombina</h1>
            <p>Aqui você encontrará a solução para seus cálculos de <strong>COMBINAÇÃO</strong>, <strong>ARRANJO</strong> e <strong>PERMUTAÇÃO</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Modo de usar</h3>
            <p>Este ambiente foi desenvolvido para atender de forma simplificada a todos que necessitarem,</p>
            <p>Com isso para realizar o cálculo desejado basta:</p>
            <ol>
                <li>Clicar no tipo de cálculo na barra de navegação a direita</li>
                <li>Adicionar as váriaveis no campo destinado</li>
                <li>Clicar em calcular</li>
            </ol>
        </div>
    </div>
</div>